.root {
    color: blue;
}

.root:hover {
    color: darkblue;
}

.root[disabled] {
    color: aliceblue;
}

.other {
    background: blue;
}

.root[color="primary"] {
    color: green;
}

.root[color="primary"]:hover {
    color: red;
}

.root[disabled] {
    color: lightgreen;
}

.other {
    background: green;
}

.root:hover {
    color: yellow;
}
