.root {
    color: blue;
}

.root:hover {
    color: purple;
}

.root[disabled] {
    color: aliceblue;
}

.other {
    background: blue;
}

.root:hover {
    color: red;
}

.root[color="primary"]:hover {
    color: red;
}
